<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.jsp.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.jsp.servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseList</servlet-name>
        <servlet-class>com.jsp.servlet.CourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSelect</servlet-name>
        <servlet-class>com.jsp.servlet.CourseSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSchedule</servlet-name>
        <servlet-class>com.jsp.servlet.GetSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSchedule</servlet-name>
        <servlet-class>com.jsp.servlet.TeacherSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourse</servlet-name>
        <servlet-class>com.jsp.servlet.GetCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreList</servlet-name>
        <servlet-class>com.jsp.servlet.ScoreList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScore</servlet-name>
        <servlet-class>com.jsp.servlet.EditScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookupScore</servlet-name>
        <servlet-class>com.jsp.servlet.LookupScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LookupScore</servlet-name>
        <url-pattern>/servlet/LookupScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScore</servlet-name>
        <url-pattern>/servlet/EditScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreList</servlet-name>
        <url-pattern>/servlet/ScoreList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourse</servlet-name>
        <url-pattern>/servlet/GetCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSchedule</servlet-name>
        <url-pattern>/servlet/TeacherSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSchedule</servlet-name>
        <url-pattern>/servlet/GetSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSelect</servlet-name>
        <url-pattern>/servlet/CourseSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/servlet/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlet/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseList</servlet-name>
        <url-pattern>/servlet/CourseList</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>